tut1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="realEstate">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="agencies"/>
        <xs:element type="xs:string" name="owners"/>
        <xs:element type="xs:string" name="propeties"/>
        <xs:element type="xs:string" name="flats"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
